/* .boton-inicio-flotante { 
    position: fixed;
    top: 0;
    bottom: 100;
    left: 500;
    right: 500;
    height: 60px; /
    justify-content: space-between;
    align-items: right;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightgray; 
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  } */

.fixed-header {
  display: flex;
  justify-content: space-between;
  align-items: right;
  /* Otros estilos */
  background-color: lightgray;
}

header {
  background-color: lightgray;
  width: 100%;
  z-index: 500;
}

.float-right {
  position: fixed;
  right: 10px;
  bottom: 0;
  background-color: lightgray;
  z-index: 999;
}

.staticButtons {
  align-self: right;
  position: static;
  right: 100px;
  top: 0;
  background-color: lightgray;
  z-index: 999;
}

table {
  width: 100%;
  border: 1px solid #000;
}

table thead {
  position: sticky;
  top: 0;
  background-color: lightgray;
  z-index: 400;
}
.sticky-column {
  position: sticky;
  left: 0;
  z-index: 3;
  background-color: white;
}

h4 {

  height: 50px;
  width: 100%;
}

td {
  min-width: 1px;
  height: 1px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  font-size: 13px;
    
}

caption {
  padding: 0.4em;
}


.bold-cell {
  font-weight: bold;
  font-size: medium;
}

.colored-cell {
  color: black; 
}
.same-size-btn {
  width: 100px;
}


/* Media query para aplicar la transformación de escala en resoluciones de 1366x768 o inferiores */
@media (max-width: 1366px) {
  body {
    transform: scale(0.8); /* Escala la vista al 80% del tamaño original */
    transform-origin: top left; /* Establece el origen de transformación en la esquina superior izquierda */
  }
}