/* Estilos para el título y los botones fijos */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000; /* Asegura que los elementos estén sobre el contenido */
  padding: 10px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed-header h1 {
  margin-left: 20px;
}

.fixed-header .btn-group {
  margin-right: 20px;
}

/* Ajustar el espacio después del título */
body {
  padding-top: 80px;
}
