/* Estilos personalizados para la vista new */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
}
.container {
  margin-top: 1px; /* Ajusta este valor según sea necesario */
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Ajusta la altura del encabezado */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: lightgray; /* Puedes ajustar el color de fondo según tus necesidades */
  z-index: 999;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Ajustamos el margen superior del contenido para evitar que se solape con la barra fija */
#newForm {
  margin-top: 80px; /* Ajusta este valor según sea necesario */
}

label {
    font-size: 18px;
    font-weight: bold;
}

/* Espaciado para los campos de formulario */
.form-control {
  margin-bottom: 5px;
}

/* Ajustes de estilo para el botón de cargar servicio */
/* .btn-success {
  margin-top: 10px;
} */

