/* Estilos personalizados para la vista print */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 20px; /*&&estaba en 170*/
  }
  
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px; /* Ajusta la altura del encabezado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightgray; /* Puedes ajustar el color de fondo según tus necesidades */
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .encabezado {
    margin-top: 0px;
    text-align: center; /* Alinea los botones al centro del footer &&estaba en 70 */
         
  }

  /* Ajustamos el margen superior del contenido para evitar que se solape con la barra fija */
  #newForm {
    margin-top: 80px; /* Ajusta este valor según sea necesario */
  }
  
  /* Espaciado para los campos de formulario */
  .form-control {
    margin-bottom: 10px;
  }
  
  footer .h3 {
    text-align: center;
  }
  footer .p
  {
    text-align:left;
  }
  /* Ajustes de estilo para el botón de cargar servicio */
  /* //.btn-success {
    margin-top: 10px;
  } */
  
  /* Media query para aplicar la transformación de escala en resoluciones de 1366x768 o inferiores */
@media (max-width: 1366px) {
  body {
    transform: scale(0.8); /* Escala la vista al 80% del tamaño original */
    transform-origin: top left; /* Establece el origen de transformación en la esquina superior izquierda */
  }
}