<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Administrar Base de Datos</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/admin-db.css" type="text/css" />
  </head>

  <body>
    <div class="container mt-4">
      <!-- Título y botones fijos -->
      <div class="fixed-header">
        <h3>Administrar Base de Datos</h3>
        <div class="btn-group">
          <button class="btn btn-success">
            <a href="/new" class="text-white">Nueva Orden</a>
          </button>
          <button class="btn btn-warning">
            <a href="/search" class="text-white">Buscar Orden</a>
          </button>
          <a href="/database" class="btn btn-secondary">Abrir Database</a>
          <a href="/" class="btn btn-primary">Volver al Inicio</a>
        </div>
      </div>
      <div class="d-flex flex-column mt-4 border p-3">
        <div class="d-flex align-items-center ">
          <button
            class="btn btn-warning text-white" 
            id="restoreButton"
            onclick="restoreDatabase()"
          >
            Cargar Base de Datos
          </button>
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          <div class="ml-3 border p-3">
            <!-- Agrega un margen izquierdo para separar los elementos -->
            <label for="restoreFile">Seleccionar archivo de respaldo:</label>
            <input type="file" name="file" id="restoreFile" accept=".json" directory="/src/backup" />
          </div>
        </div>
        <div class="mt-3 border p-3"">
          <button class="btn btn-success" id="backupButton">
            Guardar Base de Datos
          </button>
          <label for="backupButton">Hacer copia de seguridad de la base de datos.</label>
        </div>
        <br /><br /><br /><br /><br />
        <div class="mt-3 border p-3"">
        <button class="btn btn-danger" id="deleteDatabaseButton" onclick="confirmDeleteDatabase()">
          Eliminar Base de Datos
        </button>
        <label for="deleteDatabaseButton">ELIMINAR de forma TOTAL la base de datos.</label>
        </div>
      </div>

      <!-- Resultados de la operación (éxito o error) -->
      <div id="operationResult">
        <div
          class="alert alert-success d-none"
          id="successMessage"
          role="alert"
        ></div>
        <div
          class="alert alert-danger d-none"
          id="errorMessage"
          role="alert"
        ></div>
      </div>

      <!-- Aquí puedes incluir cualquier contenido adicional que desees mostrar en esta vista -->

      <!-- Script para manejar las operaciones de guardar y cargar la base de datos -->
      <script>
        // Función para mostrar mensajes de éxito o error
        function displayMessage(message, isError) {
          const successMessage = document.getElementById("successMessage");
          const errorMessage = document.getElementById("errorMessage");
          if (isError) {
            successMessage.style.display = "none";
            errorMessage.style.display = "block";
            errorMessage.textContent = message;
          } else {
            errorMessage.style.display = "none";
            successMessage.style.display = "block";
            successMessage.textContent = message;
          }
        }

        // Agregar un controlador de evento al botón "Guardar Base de Datos"
        const backupButton = document.getElementById("backupButton");
        backupButton.addEventListener("click", () => {
          // Aquí puedes realizar la operación de guardar la base de datos y mostrar el mensaje correspondiente
          // Puedes usar fetch para enviar una solicitud al servidor para realizar la operación
          fetch("/backup", {
            method: "GET",
          })
            .then((response) => response.text())
            .then((data) => {
              displayMessage(data, false);
              document
                .getElementById("successMessage")
                .classList.remove("d-none");
            })
            .catch((error) => {
              displayMessage(
                "Error al guardar la base de datos: " + error.message,
                true,
                document
                  .getElementById("errorMessage")
                  .classList.remove("d-none")
              );
            });
        });

        <!-- Agregar un controlador de evento al botón "Cargar Base de Datos" -->
function restoreDatabase() {
  const restoreFileInput = document.getElementById("restoreFile");
  const file = restoreFileInput.files[0];

  if (!file) {
    alert("No se ha seleccionado un archivo de respaldo.");
    return;
  }

  const confirmationMessage = "Está seguro de que desea reemplazar la base de datos?\n\nESTE PROCESO ES IRREVERSIBLE.";
  const isConfirmed = window.confirm(confirmationMessage);
  if (isConfirmed) {
    const formData = new FormData();
    formData.append("file", file);

    fetch("/restore", {
      method: "POST",
      body: formData,
    })
      .then((response) => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error("Error al cargar la base de datos");
        }
      })
      .then((data) => {
        alert("Carga de base de datos exitosa. " + data); // Muestra un mensaje de éxito
      })
      .catch((error) => {
        alert("Error al cargar la base de datos: " + error.message); // Muestra un mensaje de error
      });
  }
}
function confirmDeleteDatabase() {
    const confirmationMessage = "¿Está seguro de que desea ELIMINAR la base de datos?\n\nESTE PROCESO ES IRREVERSIBLE.";
    const isConfirmed = window.confirm(confirmationMessage);

    if (isConfirmed) {
      // Si el usuario confirma, aquí puedes realizar la eliminación de la base de datos
      // Puedes usar fetch para enviar una solicitud al servidor para realizar la operación
      fetch("/delete-database", {
        method: "POST",
      })
        .then((response) => response.text())
        .then((data) => {
          displayMessage(data, false);
          document.getElementById("successMessage").classList.remove("d-none");
        })
        .catch((error) => {
          displayMessage("Error al eliminar la base de datos: " + error.message, true);
          document.getElementById("errorMessage").classList.remove("d-none");
        });
    }
  }
      </script>
    </div>
  </body>
</html>
