<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Servicio Técnico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/database.css" type="text/css">
</head>

<body>
    <header>
    <!-- Título "ORDENES PENDIENTES" -->
    <h4 id="titulo">BASE DE DATOS</h4>

    <!-- Tabla para mostrar las órdenes -->

    <div class="float-right">
        <div class="btn-group">
            <button class="btn btn-success"><a href="/new" class="text-white">Nueva Orden</a></button>
            <button class="btn btn-warning"><a href="/search" class="text-white">Buscar Orden</a></button>
            <a href="#titulo" class="btn btn-secondary">Volver Arriba</a>
            <a href="/" class="btn btn-primary">Volver al Inicio</a>
        </div>
    </div>
    </header>
    <table class="table" id="table">
        <thead class="sticky-header">
            <tr>
                <th>ID</th>
                <th>Fecha Ingreso</th>
                <th>Cliente</th>
                <th>Teléfono</th>
                <th>Tipo de Equipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Número de Serie</th>
                <th>Accesorios</th>
                <th>Tareas</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="orders-container">
            <!-- Aquí se mostrarán las órdenes de servicio -->
        </tbody>
    </table>
    </div>
    
        <!-- <div class="fullscreen-image" id="fullscreenImageContainer">
        <img src="" alt="Fullscreen Image" id="fullscreenImage">
    </div> -->

        <script>
            // Código JavaScript
            const ordersContainer = document.getElementById("orders-container");
            const fullscreenImageContainer = document.getElementById("fullscreenImageContainer");
            const fullscreenImage = document.getElementById("fullscreenImage");

            // Carga los datos del archivo JSON
            fetch('/servicios')
                .then(response => response.json())
                .then(ordersData => {
                    displayOrders(ordersData);
                })
                .catch(error => console.error('Error al cargar los datos:', error));

            // Función para mostrar las órdenes en la tabla
            function displayOrders(ordersData) {
                ordersContainer.innerHTML = "";
                ordersData.forEach(order => {
                    const orderRow = document.createElement("tr");
                    orderRow.innerHTML = `
                    <td>${order.id}</td>
                    <td>${order.fecha_ingreso}</td>
                    <td>${order.nombre_cliente}</td>
                    <td>${order.telefono}</td>
                    <td>${order.tipo_equipo}</td>
                    <td>${order.marca}</td>
                    <td>${order.modelo}</td>
                    <td>${order.numero_serie}</td>
                    <td>${order.accesorios}</td>
                    <td>${order.tareas}</td>
                    <td>${order.estado}</td>
                    <td>${order.observaciones}</td>
                    <td>
                        <button class="btn btn-primary btn-sm"><a href="/edit/${order.id}" class="text-white">Editar</a></button>
                        <button class="btn btn-secondary btn-sm"><a href="/print/${order.id}" class="text-white">Imprimir</a></button>
                        <button class="btn btn-danger delete-btn btn-sm" data-order-id="${order.id}">Borrar</button>
                    </td>
                `;

                    ordersContainer.appendChild(orderRow);
                });

                // Agregar un controlador de evento para el botón de borrar
                const deleteButtons = document.querySelectorAll('.delete-btn');
                deleteButtons.forEach(button => {
                    button.addEventListener('click', async () => {
                        const orderId = button.getAttribute('data-order-id');
                        const response = await fetch(`/delete/${orderId}`, { method: 'POST' });
                        if (response.ok) {
                            // Recargar la página después de borrar
                            location.reload();
                        }
                    });
                });

                // Controlador de evento para cerrar la imagen en pantalla completa
                fullscreenImageContainer.addEventListener("click", () => {
                    fullscreenImageContainer.style.display = "none";
                    fullscreenImage.src = "";
                });
            }
        </script>
</body>

</html>