<!DOCTYPE html>
<html>
<head>
	<title>App de Servicios Técnicos</title>
	<!-- Importa los estilos de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-5">
		<h1>Cargar Servicios Técnicos</h1>
		<form id="formulario">
			<div class="form-group">
				<label for="nombre">Nombre del Cliente:</label>
				<input type="text" class="form-control" id="nombre" name="nombre">
			</div>
			<div class="form-group">
				<label for="telefono">Teléfono del Cliente:</label>
				<input type="text" class="form-control" id="telefono" name="telefono">
			</div>
			<div class="form-group">
				<label for="tipo">Tipo de Equipo:</label>
				<input type="text" class="form-control" id="tipo" name="tipo">
			</div>
			<div class="form-group">
				<label for="marca">Marca del Equipo:</label>
				<input type="text" class="form-control" id="marca" name="marca">
			</div>
			<div class="form-group">
				<label for="modelo">Modelo del Equipo:</label>
				<input type="text" class="form-control" id="modelo" name="modelo">
			</div>
			<div class="form-group">
				<label for="num_serie">Número de Serie del Equipo:</label>
				<input type="text" class="form-control" id="num_serie" name="num_serie">
			</div>
			<div class="form-group">
				<label for="accesorios">Accesorios Entregados:</label>
				<input type="text" class="form-control" id="accesorios" name="accesorios">
			</div>
			<div class="form-group">
				<label for="tareas">Tareas a Realizar:</label>
				<textarea class="form-control" id="tareas" name="tareas"></textarea>
			</div>
			<button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
			<button type="button" class="btn btn-secondary" id="btn-imprimir">Imprimir</button>
		</form>
	</div>
	<!-- Importa los scripts de Bootstrap y jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZ\
	/xmPOjKVhJQHzIcedl" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script>
		$(document).ready(function() {
			// Acción al enviar el formulario
			$('#formulario').submit(function(event) {
				event.preventDefault(); // Previene el comportamiento por defecto del formulario
				guardarDatos();
			});

			// Acción al hacer clic en el botón "Imprimir"
			$('#btn-imprimir').click(function() {
				imprimirDatos();
			});
		});

		// Función para guardar los datos en la base de datos
		function guardarDatos() {
			// Obtiene los valores de los campos del formulario
			var nombre = $('#nombre').val();
			var telefono = $('#telefono').val();
			var tipo = $('#tipo').val();
			var marca = $('#marca').val();
			var modelo = $('#modelo').val();
			var num_serie = $('#num_serie').val();
			var accesorios = $('#accesorios').val();
			var tareas = $('#tareas').val();

			// Realiza una petición AJAX al servidor para guardar los datos
			$.ajax({
				url: 'guardar_datos.php', // URL del script PHP que guarda los datos en la base de datos
				type: 'POST',
				data: {
					nombre: nombre,
					telefono: telefono,
					tipo: tipo,
					marca: marca,
					modelo: modelo,
					num_serie: num_serie,
					accesorios: accesorios,
					tareas: tareas
				},
				success: function(response) {
					alert(response); // Muestra una alerta con la respuesta del servidor
				}
			});
		}

		// Función para imprimir los datos en una nueva ventana
		function imprimirDatos() {
			// Obtiene los valores de los campos del formulario
			var nombre = $('#nombre').val();
			var telefono = $('#telefono').val();
			var tipo = $('#tipo').val();
			var marca = $('#marca').val();
			var modelo = $('#modelo').val();
			var num_serie = $('#num_serie').val();
			var accesorios = $('#accesorios').val();
			var tareas = $('#tareas').val();
		}
			// Crea una nueva ventana para imprimir los datos
			var ventanaImpresion = window