<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
</head>
<body>
    <div class="container mt-4">
        <!-- Encabezado similar al de index.ejs -->
        <div class="fixed-header">
            <h1>Servicio Técnico</h1>
            <h3>INICIO DE SESIÓN</h3>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <br>
                    <div class="card-header">Iniciar Sesión</div>
                    <div class="card-body">
                        <form method="POST" action="/login">
                            <br>
                            <% if (errorMessage) { %> <!-- Verificar si errorMessage está definido -->
                                <div class="alert alert-danger">
                                    <%- errorMessage %>
                                </div>
                            <% } %>
                            <!-- Resto del formulario -->
                            <!-- <div class="form-group">
                                <label for="username">Nombre de Usuario</label>
                                <input type="text" id="username" name="username" class="form-control" required>
                            </div> -->
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<!-- <div class="form-group">
                                <label for="username">Nombre de Usuario</label>
                                <input type="text" id="username" name="username" class="form-control" required>
                            </div> -->