<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar servicio técnico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/new.css" type="text/css">
</head>

<body>
    <div class="container mt-4">
        <div class="fixed-header">
            <h1>Nueva Orden de Servicio Técnico</h1>
            <div class="btn-group">
                <button class="btn btn-warning"><a href="/search" class="text-white">Buscar Orden</a></button>
                <a href="/" class="btn btn-primary">Volver al Inicio</a>
            </div>
        </div>

        <form action="/guardar-servicio" method="POST" enctype="multipart/form-data" id="newForm">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" value="<%= nextId %>" readonly class="form-control">

            <label for="nombre_cliente">Nombre del cliente:</label>
            <input type="text" id="nombre_cliente" name="nombre_cliente" required class="form-control">

            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" required class="form-control">

            <label for="tipo_equipo">Tipo de equipo:</label>
            <input type="text" id="tipo_equipo" name="tipo_equipo" required class="form-control">

            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" required class="form-control">

            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" required class="form-control">

            <label for="numero_serie">Número de serie:</label>
            <input type="text" id="numero_serie" name="numero_serie" required class="form-control" value="SIN SERIE">

            <label for="accesorios">Accesorios:</label>
            <input type="text" id="accesorios" name="accesorios" required class="form-control" value="NO">

            <label for="tareas">Tareas a realizar:</label>
<input type="text" id="tareas" name="tareas" required class="form-control" value="REVISAR">

            <label for="estado">Estado:</label>
            <select id="estado" name="estado" class="form-control">
                <option value="INGRESADO">Ingresado</option>
                <option value="PRESUPUESTADO">Presupuestado</option>
                <option value="PRESUPUESTADO_AVISADO">Presupuestado Avisado</option>
                <option value="PRESUPUESTADO_APROBADO">Presupuestado Aprobado</option>
                <option value="RECHAZADO_A_DEVOLVER">Rechazado a Devolver</option>
                <option value="REPARADO">Reparado</option>
                <option value="REPARADO_AVISADO">Reparado Avisado</option>
                <option value="REVISAR">Revisar</option>
                <option value="LLAMAR">Llamar</option>
                <option value="RETIRADO">Retirado</option>
            </select>

            <br><label for="observaciones">Observaciones:</label>
            <textarea id="observaciones" name="observaciones"></textarea>

            <br><label for="foto">Foto:</label>
            <input type="file" id="foto" name="foto"><br>

            <br><button type="submit" class="btn btn-success">Cargar servicio</button>
            <a href="/" class="btn btn-primary">Volver al Inicio</a>
        </d=>
</body>

</html>